[Unit]
Description=Ziggy rootless tenant runtime manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/.local/bin/ziggy-runtime-manager -policy %h/.config/ziggy-runtime-manager/policy.json -quadlet-dir %h/.config/containers/systemd -socket %t/ziggy-runtime-manager/manager.sock
Restart=on-failure
RestartSec=3s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=strict
ReadWritePaths=%h/.config/containers/systemd %h/.local/share/containers %h/.cache/containers %t/containers %t/ziggy-runtime-manager
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectKernelModules=true
RestrictSUIDSGID=true
LockPersonality=true
RestrictRealtime=true
UMask=0077

[Install]
WantedBy=default.target
